/* @font-face {
    font-family: Inter;
    src: url("../fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: Inter-Bold;
    src: url("../fonts/Inter-Bold.ttf");
} */

@import url("base.css");
